<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Ionicones JS -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <title>home.html</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .wrap {
            width: 1100px;
            margin: auto;
        }

        #input-box {
            width: 400px;
            margin: 10px;
            /* position: left; */
        }

        .card {
            /* margin: auto; */
            padding: 10px;

        }
    </style>

    <script>
        function logout(){
            location.href = "/logout"
        }
        function login(){
            location.href = "/login"
        }
        function signin(){
            location.href = "/signin"
        }
        function main(){
            location.href = "/main"
        }
    </script>

</head>

<body>
    <div class="wrap">
        <div class="jumbotron jumbotron-fluid border-bottom" style="background-color: transparent; margin-left: 0px; margin-right: 0px;">
            <div class="container">
                <strong style="font-size: 80px;">Book Mark</strong>
                <div>
                    {% if session['username'] %}
                    <h3 style="margin-bottom: 50px; font-size: 30px;"><b>{{session['username']}}</b>님 환영합니다<br></h3>
                    <button type="button" style="width: 120px;" class="btn btn-primary btn-lg" onclick="logout()">로그아웃</button>
                    <button type="button" style="width: 120px;" class="btn btn-primary btn-lg" onclick="main()">플래너 📚</button>
                    <button type="button" style="width: 140px;" class="btn btn-dark btn-lg" onclick="window.open('https://github.com/BookPlanner/BookPlanner')">개발기록
                        <span class="icon" style="background-color: #333344;">
                            <ion-icon style="color: white;" name="logo-github"></ion-icon>
                        </span>
                    </button>
                    {% else %}
                    <h3 style="margin-bottom: 50px;"><br></h3>
                    <button type="button" style="width: 120px;" class="btn btn-primary btn-lg" onclick="login()">로그인</button>
                    <button type="button" style="width: 120px;" class="btn btn-primary btn-lg" onclick="signin()">회원가입</button>
                    <button type="button" style="width: 140px;" class="btn btn-dark btn-lg" onclick="window.open('https://github.com/BookPlanner/BookPlanner')">개발기록
                        <span class="icon" style="background-color: #333344;">
                            <ion-icon style="color: white;" name="logo-github"></ion-icon>
                        </span>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="cards-box" class="card-columns">

        </div>

    </div>
</body>

</html>