<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Ionicones JS -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <title>main.html</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Noto Sans KR, sans-serif;
        }

        .wrap {
            width: 1100px;
            margin: auto;
        }

        .modal-backdrop {
            z-index: 0;
        }

        .sort {
            text-align: right; 
            margin-top: 10px;
        }

        .default_content {
            width: 100%;
            height: 200px;
            border: 5px black;
        }
        
    </style>

    <script type="text/javascript"> 
    
    function agree() { 
        var chkbox = document.getElementsByName('agree'); 
        var chk = false; 
        for(var i=0 ; i<chkbox.length ; i++) 
        { 
            if(chkbox[i].checked) chk = true; 
            else { chk = false; } 
        } 
        if(chk) 
        { 
            alert("모든 약관에 동의함."); 
            return false; 
        } 
        else 
        { 
            alert("모든 약관에 동의해 주세요.") 
        } 
     } 

    function doOpenCheck(chk){
    var obj = document.getElementsByName("aaa");
    for(var i=0; i<obj.length; i++){
        if(obj[i] != chk){
            obj[i].checked = false;
        }
    }
}
    </script> 
</head>

<body>




    <div class="wrap">
        <div style="text-align: center; margin-top: 30px; font-size: 50px;">
            <strong> Book Mark </strong>
            <div align="right">
               <button type="button" class="btn btn-primary" onclick="logout()">로그아웃</button>
           </div>
       </div>
    <div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-light default_content" data-toggle="modal" data-target="#exampleModalCenter"><img src="../static/css/plus.png"/>
  </button>
  
  <div class="sort">
    <input  id="id1" type="radio" name="chk_info" checked="checked" value="register"><label for="id1">등록 순서</label> 
    <input  id="id2" type="radio" name="chk_info" value="book"> <label for="id2">책별 순서</label>
    <input  id="id3" type="radio" name="chk_info" value="importance"> <label for="id3">중요도 순서</label>
</div>

<!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">추가하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
              <li class="list-group-item">
                  책 종류
                  <br>
                  <div class="btn-group btn-group-toggle" data-group="buttons" style="width:100%">
                      <label>
                          <input type="radio" name="options" id="option1" autocomplete="off" value="뚜잇!파이썬" checked> 뚜잇!파이썬
                          &nbsp;&nbsp;&nbsp;
                      </label>
                      <label >
                          <input type="radio" name="options" id="option2" autocomplete="off" value="INTRO..ALGO.."> INTRO..ALGO..
                          &nbsp;&nbsp;&nbsp;
                      </label>
                      <label>
                          <input type="radio" name="options" id="option3" autocomplete="off" value="컴퓨터시스템"> 컴퓨터시스템
                          &nbsp;&nbsp;&nbsp;
                      </label>
                  </div>
              </li>
              <li class="list-group-item active">
                  <b>제목</b>
                  <br>
                  <!-- name 태그를 넣어야 js에서 데이터를 가져올 수 있음 -->
                  <input type="text" id="title" name="title" style="width:100%;"> <!--꽉차도록-->
              </li>
              <li class="list-group-item">
                  <b>내용</b>
                  <br>
                  <textarea type="text" id="context" name="context" style="width:100%;"></textarea>
              </li>
              <!-- <li class="list-group-item">
                  <b>마감기한</b>                
                  <br>
                  <input type="date" id="date" style="width:100%;">
              </li> -->
              <li class="list-group-item">
                  <b>우선순위</b>
                  <br>
                  <input type="range" id="priority" name="priority" style="width:100%;">
              </li>
              <input type="hidden" value="${loginUser}" name="loginUser">
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" onclick="createCard()">추가</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="width: 100%; margin-top: 10px;"">
    <span class="border-bottom border border-primary rounded">
    <div>
        <div class="col">
    <div class="col">
    <div class="row" > 
        <div class="col-5" style="margin-left: 10px">
            <input type="checkbox" class="form-check-input" id="done123456s" style="width: 25px; height: 25px; margin-top: 10px;">
            <div style="margin-left: 20px; margin-top: 10px;""><b>알고리즘의 기초 설명 description.</b></div>
        </div>
        <div class="col" style="vertical-align: middle; margin-top: 14px; font-size: smaller; font-style: italic;">
            2020-12-08 23:20    
        </div>
        <div class="col" >
            <button style="margin-top: 8px;" type="button" class="btn btn-light btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                Introduction To Algorithm
            </button>
        </div>
        <div class="col" style="margin-top: 10px; text-align: right;">
            <span class="tag is-primary">Normal</span>
        </div>
    </div>
    <hr style="margin-top: 8px; margin-bottom: 5px;">
    <div class="row">
        <div class="col">
            <div class ="text" style="color: grey;">내용</div>
        </div>
    </div>
</div>
        </div>
    <div class="row justify-content-between">
    <div class="col-4">
    <button type="button" class="btn btn-outline-primary btn-sm" style="margin: 20px 3px 10px 20px;">수정</button>
    <button type="button" class="btn btn-outline-danger btn-sm" style="margin: 20px 10px 10px 0px;">삭제</button>
    </div>
    <div class="col-4" style="margin-top: 20px; margin-right: 40px; text-align: right;">
        김형우
    </div>
</div>
  </div>
</span>
</div>
<div class="card" style="width: 100%; margin-top: 10px;"">
    <span class="border-bottom border border-primary rounded">
    <div>
        <div class="col">
    <div class="col">
    <div class="row" > 
        <div class="col-5" style="margin-left: 10px">
            <input type="checkbox" class="form-check-input" id="done123456s" style="width: 25px; height: 25px; margin-top: 10px;">
            <div style="margin-left: 20px; margin-top: 10px;""><b>CentOS 제작 과정 링크.</b></div>
        </div>
        <div class="col" style="vertical-align: middle; margin-top: 14px; font-size: smaller; font-style: italic;">
            2020-12-01 23:20    
        </div>
        <div class="col" >
            <button style="margin-top: 8px;" type="button" class="btn btn-light btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                컴퓨터시스템
            </button>
        </div>
        <div class="col" style="margin-top: 10px; text-align: right;">
            <span class="tag is-danger">🔥 High</span>
        </div>
    </div>
    <hr style="margin-top: 8px; margin-bottom: 5px;">
    <div class="row">
        <div class="col">
            <div class ="text" style="color: grey;">function showMemos() {
                $.ajax({
                    type: "GET",
                    url: "/memo",
                    data: {},
                    success: function (response) {
                        let memos = response["memos"];
                        console.log(memos);
                        for (let i = 0; i < memos.length; i++) {
                            $("#cards-box").append(tempHtml);
                        }
                        안녕<br>
                        안녕<br>
                        안녕<br>

                        안녕

                    }
                })
            }</div>
        </div>
    </div>
</div>
        </div>
    <div class="row justify-content-between">
    <div class="col-4">
    <button type="button" class="btn btn-outline-primary btn-sm" style="margin: 20px 3px 10px 20px;">수정</button>
    <button type="button" class="btn btn-outline-danger btn-sm" style="margin: 20px 10px 10px 0px;">삭제</button>
    </div>
    <div class="col-4" style="margin-top: 20px; margin-right: 40px; text-align: right;">
        한정서
    </div>
</div>
  </div>
</span>
</div>
<div class="card" style="width: 100%; margin-top: 10px;"">
    <span class="border-bottom border border-primary rounded">
    <div>
        <div class="col">
    <div class="col">
    <div class="row" > 
        <div class="col-5" style="margin-left: 10px">
            <input type="checkbox" class="form-check-input" id="done123456s" style="width: 25px; height: 25px; margin-top: 10px;">
            <div style="margin-left: 20px; margin-top: 10px;""><b>BFS 쉽게 이해하는법 10분 컷.</b></div>
        </div>
        <div class="col" style="vertical-align: middle; margin-top: 14px; font-size: smaller; font-style: italic;">
            2020-12-06 23:20    
        </div>
        <div class="col" >
            <button style="margin-top: 8px;" type="button" class="btn btn-light btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                Do It! 자료구조와 함께하는 알고리즘
            </button>
        </div>
        <div class="col" style="margin-top: 10px; text-align: right;">
            <span class="tag is-info">😁 Low</span>
        </div>
    </div>
    <hr style="margin-top: 8px; margin-bottom: 5px;">
    <div class="row">
        <div class="col">
            <div class ="text" style="color: grey;">내용</div>
        </div>
    </div>
</div>
        </div>
    <div class="row justify-content-between">
    <div class="col-4">
    <button type="button" class="btn btn-outline-primary btn-sm" style="margin: 20px 3px 10px 20px;">수정</button>
    <button type="button" class="btn btn-outline-danger btn-sm" style="margin: 20px 10px 10px 0px;">삭제</button>
    </div>
    <div class="col-4" style="margin-top: 20px; margin-right: 40px; text-align: right;">
        오태양
    </div>
</div>
  </div>
</span>
</div>
</body>

</html>
<script>
    function createCard(){
        var title = $('input[name=title]').val();
        var context = $('textarea#context').val();
        var priority = $('input[name=priority]').val();
        var booktitle = $('input[name="options"]:checked').val();
        //var writer = 로그인 유저 어떻게 가져올지 찾아보기
        
        alert(title+" "+context+" "+priority+" "+booktitle)  // 테스트완료

        $.ajax({
        type: "POST",
        url: '/main',
        data: {
            'card_id_give' : genRandomName(10),
            'title_give': title,
            'context_give': context,
            'priority_give': priority,
            'booktitle_give': booktitle
        },
        success: function (response) {
            if (response['result'] == 'success') {
                let card = response['card'];

                alert("저장완료")
                // $('#exampleModal').modal('hide');
                // $('#exampleModal').hide();
                window.location.reload();

            }
        }
    });
    }

    function genRandomName(length) {
            let result = '';
            let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                let number = Math.random() * charactersLength;
                let index = Math.floor(number);
                result += characters.charAt(index);
            }
            return result;
        }
</script>