<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <title>Book Study Planner</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .wrap {
            width: 1100px;
            margin: auto;
        }

        #input-box {
            width: 400px;
            margin: 10px;
            /* position: left; */
        }

        .card {
            /* margin: auto; */
            padding: 10px;

        }
        #modal {
            width: 100%;
        }
    </style>
    <!-- <script>
        $(document).ready(function () {
            $("#cards-box").html("");
            showMemos();
        });

        function postMemo() {
            let title = $("#memo-title").val();
            let memo = $("#memo").val();
            $.ajax({
                type: "POST",
                url: "/memo",
                data: { title_give: title, memo_give: memo },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("저장 완료!");
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }

        function showMemos() {
            $.ajax({
                type: "GET",
                url: "/memo",
                data: {},
                success: function (response) {
                    let memos = response["memos"];
                    console.log(memos);
                    for (let i = 0; i < memos.length; i++) {
                        let tempHtml = `<div id="card-${i}" class="card">
                                <h4 class="card-title"> ${memos[i]["title"]} </h4>
                                <p class="card-text">${memos[i]["memo"]}</p>
                                <button type="button" class="btn btn-secondary btn-sm" onclick="modifyMemo('${i}','${memos[i]["title"]}','${memos[i]["memo"]}')">수정</button>
                                <button type="button" class="btn btn-dark btn-sm" onclick="deleteMemo('${memos[i]["title"]}')">삭제</button>
                            </div>`
                        $("#cards-box").append(tempHtml);
                    }
                }
            })
        }

        function deleteMemo(title) {
            $.ajax({
                type: "POST",
                url: "/memo/delete",
                data: { 'title_give': title },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('삭제 완료!')
                        window.location.reload()
                    }
                }
            });
        }

        function modifyMemo(memo_id, title, memo) {
            $('#card-' + memo_id).empty();
            tempHtml = `<div class="form-group"> 
                   <input id="memo-title-change" class="form-control" value="${title}">   
                   </div>
                   <div class="form-group">
                   <textarea id="memo-change" class="form-control" rows="2">${memo}</textarea>
                   </div>
              <button type="button" class="btn btn-primary btn-sm" onclick="changeMemo('${title}')">저장</button>`

            $('#card-' + memo_id).append(tempHtml);
        }

        function changeMemo(old_title) {
            let new_title = $("#memo-title-change").val();
            let new_memo = $("#memo-change").val();

            $.ajax({
                type: "POST",
                url: "/memo/change",
                data: { old_title_give: old_title, title_give: new_title, memo_give: new_memo },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("수정 완료!");
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }



    </script> -->

</head>

<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    [Modal] 콘텐츠 추가
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">추가하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
              <li class="list-group-item">
                  책 종류
                  <br>
                  <div class="btn-group btn-group-toggle" data-group="buttons" style="width:100%;">
                      <label class "btn btn-secondary active">
                          <input type="radio" name="options" id="option1" autocomplete="off" checked> 뚜잇!파이썬
                          &nbsp;&nbsp;&nbsp;
                      </label>
                      <label class "btn btn-secondary">
                          <input type="radio" name="options" id="option2" autocomplete="off"> INTRO..ALGO..
                          &nbsp;&nbsp;&nbsp;
                      </label>
                      <label>
                          <input type="radio" name="options" id="option3" autocomplete="off"> 컴퓨터시스템
                          &nbsp;&nbsp;&nbsp;
                      </label>
                  </div>
              </li>
              <li class="list-group-item active">
                  <b>제목</b>
                  <br>
                  <input type="text" id="subject" style="width:100%;"> <!--꽉차도록-->
              </li>
              <li class="list-group-item">
                  <b>내용</b>
                  <br>
                  <textarea type="text" id="context" style="width:100%;"></textarea>
              </li>
              <li class="list-group-item">
                  <b>마감기한</b>                
                  <br>
                  <input type="date" id="date" style="width:100%;">
              </li>
              <li class="list-group-item">
                  <b>우선순위</b>
                  <br>
                  <input type="range" id="priority" style="width:100%;">
              </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary">추가</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 100%; margin-top: 10px;">
    <div>
        <div class="col">
    <div class="col">
    <div class="row">
        <div class="col">
            이 책은 5개월동안 볼수가 없어.
        </div>
        <div class="col">
            컴퓨터시스템
        </div>
        <div class="col">
            등록일
        </div>
        <div class="col">
            마감일
        </div>
        <div class="col">
            등록인
        </div>
        <div class="col">
            중요도
        </div>
    </div>
    <div class="row">
        <div class="col">
            내용
        </div>
    </div>
</div>
        </div>
        <hr>
    <button type="button" class="btn btn-outline-primary btn-sm" style="margin-right: 5px;">수정</button>
    <button type="button" class="btn btn-outline-danger btn-sm">삭제</button>
  </div>
</div>
</body>

</html>
